name: CI/CD 

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'  # Cambia si usas otra versi贸n

      - name: Compilar con Maven
        run: mvn compile

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Checkout del c贸digo
        uses: actions/checkout@v4

      - name: Ejecutar pruebas
        run: mvn verify

      - name: Ejecutar cobertura JaCoCo
        run: mvn jacoco:report

      - name: Subir reporte de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: reporte-cobertura
          path: target/site/jacoco

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Construir el JAR
        run: mvn package -DskipTests

      - name: Login en Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Publicar en Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: "ReservationSystem"  # Usa el nombre de tu App Service
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: target/*.jar
